
@{
    ViewData["Title"] = "Index";
}

    <div class="body-content">
        <a role="button" class="btn btn-primary" asp-controller="Admin" asp-action="CreateUser">Account aanmaken</a>
        <a role="button" class="btn btn-primary" asp-controller="Project" asp-action="Index">Overzicht</a>
        <a role="button" class="btn btn-primary" asp-controller="Admin" asp-action="CreateStep">Project Stappen Beheren</a>
        <a role="button" class="btn btn-primary" asp-controller="Admin" asp-action="Logs">Logboek</a>
        <a role="button" class="btn btn-primary" asp-controller="Admin" asp-action="Users">Gebruikers</a>
    </div>

