
@{
    ViewData["Title"] = "AccessDenied";
}

<h1>AccessDenied</h1>
<h3>You currently don't have acces to this page</h3>
<iframe src="https://giphy.com/embed/3o6MbdPcxvF7Hb5G3S" width="480" height="360" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/season-14-the-simpsons-14x1-3o6MbdPcxvF7Hb5G3S">via GIPHY</a></p>